@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: sans-serif;

}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: 0;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.media, .modal {
  cursor: none;
}
